{% for entry in tree %}

## {{ entry.version }} {% if entry.date %}({{ entry.date }}){% endif %}

{% for change_key, changes in entry.changes.items() %}

### {{ change_key|title }}

{% for change in changes %}
{% if change.scope %}
- **{{ change.scope }}**: {{ change.message }}
{% else %}
- {{ change.message }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
